@model List<NoticeBoard>


<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="notice-left">
        <h3>notice board</h3>
        @foreach (var item in Model)
        {
            <div class="single-notice-left mb-25 pb-25">
                <h4>@item.Date.ToString("dd/MMMM/yyyy")</h4>
                <p>@item.Desc </p>
            </div>
        }
    </div>
</div>