@model Course
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description">Create Category</p>
                <form method="post" class="forms-sample" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" placeholder="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Desc"></label>
                        <input asp-for="Desc" placeholder="Name" />
                        <span asp-validation-for="Desc" class="text-danger"></span>
                    </div>

                     <div class="form-group">
                        <label asp-for="CourseDetail.Name"></label>
                        <input asp-for="CourseDetail.Name" placeholder="Name" />
                        <span asp-validation-for="CourseDetail.Name" class="text-danger"></span>
                    </div>

                    
                    <div class="form-group">
                        <label asp-for="Photos"></label>
                        <input accept="image/*" asp-for="Photos" class="form-control" placeholder="Name">
                        <span asp-validation-for="Photos" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2"> Submit </button>
                    <a asp-action="index" class="btn btn-dark">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="_Validation" />
    }

