
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <input type="text" name="role" />
    <input type="submit" name="click" />
</form>

